.result-container {
  background-color: #ffffff;
  width: 100%;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5px;
}

.result-container a {
  color: #1b0ff2;
  font-size: 11px;
  padding: 0;
  margin: 0;
}

@media (min-width: 400px) {
  .result-container a {
    font-size: 12px;
  }
}

@media (min-width: 576px) {
  .result-container {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .result-container a {
    font-size: 14px;
  }
}
